/* style.css */


body {
    font-family: Noah, Arial, sans-serif;
    background-image: url('basketball-1920x1080.png');
    
}

#welcome {
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

h1 {
    text-align: center;  
    background-color: rgb(42, 44, 46);
    color: burlywood;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 22px;
    text-indent:0.5in;
    text-align: justify;
    margin-left: .5in;
    margin-right: .5in;
    background-color: rgba(198, 88, 48, .65);
}

ul {
    float: left;
    color: blanchedalmond;
    font-size: 20px;
}

form#routine {
    float:right;
    margin-right: 1.5in;
}

